/* selector universal */

*{  padding: 0;
    margin: 0;

}

/* selctor de etiqueta */
body{
background-color:rgb(255, 255, 255);
color: white;

}

/* selector de id */
#contenedor{
width: 900px;
height: 1100px;
background-color: #dee0b7;
}

#encabezado{
width: 700px;
background-color: #6c844e;
margin: 1em;
border-radius: 15px;
text-align: center;
}

#menu{
height: 4%;
background-color: #7e815b;
margin: 1em;
border-radius: 5px;
}

ul {
    text-align: center;
    padding: 10px;
}

li {
    display: inline;
    padding: 10px 30 px;
    margin: 3em;

}

li a:hover{
   color:aqua;
   text-decoration: none;
   list-style: none;

}
.texto{

    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color:#000 ;
}

#contenido{
height: 75%;
width: 50%;
background-color: #dee0b7;
margin: 0.5em;
display: inline-block;
border-radius: 5px;
text-align: center;
}

.img{

    width: 40%;
    border-radius: 30px;
    justify-items: center;

}

.encabezado-articulo{
padding: 10px;
text-align: center;
background-color: rgb(83, 152, 87);
color: rgb(255, 255, 255);
margin: 1em 2em;
border-radius: 5px;
}
#fueraseccion{
height: 80px;
width: 35%;
background-color: #b5bf9a;
margin: 0.5em;
display: inline-block;
vertical-align: top;
border-radius: 5px;
}
.encabezado-aside{
padding: 5px 5px;
text-align: center;
border-radius: 15px;
background-color: rgb(89, 161, 81);
color: white;
margin: 1em 1em;
}

.menu-aside{
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 15px;
padding: 0 2px;
list-style: square;
color: #000;
}

.lista-aside li {
padding: 20px;
}

.lista-aside li{
display: flex;
text-align: left;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 10px;
padding: 0 2px;
color:#000;
}

#pie {
height: 10%;
background-color: #b5df9a;
margin: 1.5 em;
text-align: center;
padding: 5px;
}

#pie h4{
    padding: 15px;
    font-size: 30px;

}
.contenedor-imagen {
    display: inline-block;
    margin-right: 10px;
    text-align: center; 
  }

  .contenedor-imagen img {
    width: 100px;
    height: auto;
  }

  .contenedor-imagen p {
    margin-top: 5px; 
  }
  .encabezadomx {
    background-color: #28a745; 
    color: #fff; 
    padding: 20px; 
    border-radius: 5px; 
  }
  .bodymx {
    background-color: #ffffff; 
    color: #000000; 
    padding: 60%; 
    border-radius: 5px;
  }
  .piemx {
    background-color: #ff0000; 
    color: #ffffff; 
    padding: 20px; 
  }
  .barradenavegacion {
    background-color: #28a745; 
    color: #fff; 
    padding: 10px; 
  }
  
  
  .barradenavegacion a {
    color: #fff; 
    text-decoration: none;
    margin-right: 15px; 
  }
  
  
  .barradenavegacion a.active {
    font-weight: bold; 
  }
  .contenedormx {
    width: 80%;
    background-color: #fff;
    margin: -1em;
    display: inline-block;
    text-align: center;
    border: 2px solid #1d9821;
    margin-top: 5px;

  }
  .gum{

    text-align: center;
    font-family: "Sweetie Bubble Gum Regular", Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color:#000 ;
}
#gum {
    font-family: "Sweetie Bubble Gum Regular", sans-serif;
    color: white; /* Cambia el color del texto a blanco */
}
.encabezadouwu {

  background-color: #1b1d1b; 
  font-family: "Swettie Bubble Gum Regular", sans-serif;
  color: #fff; 
  padding: 20px; 
  border-radius: 5px; 
}