*  {
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none;


}
body {

background-color: #e6edd9;
color: white;
font-family: Arial, Helvetica, sans-serif;
}

.container {

    max-width: 1110px;
    margin: 0 auto;
}

.back {

    padding: 32px 0;
    background-color:#6c844e;;
}

.menu {


    position: absolute;
    top:0;
    left:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;


}

.logo {


    font-size: 30px;
    color: aqua;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {

    position: relative;
    float:  left;
   }


.menu .navbar ul li a {

    font-size: 18px;
    padding: 20px;
    color:white;
    display: block;
}
.menu .navbar ul li  a:hover{
    color:aquamarine
}
#menu {

    display:none;
}
.menu-icono{

    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

@media(max-width:991px){
    .menu{
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

.back {
    padding: 47px 0;
}

.menu .navbar{

    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #2A394F;
    display: none;
    
}

.menu .navbar ul li {
    width: 100%;
}
#menu:checked ~ .navbar{

display: initial;
}
}

/* grid
*/
* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    background-color: #282c34;
    font-family: sans-serif;
    font-size: 3rem;
  }
  
  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 700px 300px;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
  
    grid-auto-flow: dense;
  }
  
  @media (min-width: 600px) {
    .wide {
      grid-column: span 2;
    }
  
    .tall {
      grid-row: span 2;
    }
  }
  body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center ;
}

.Grid-Layout{
   height:650px ;
   display: grid;
   grid-template-areas:  'cabecera cabecera'
                         'menu menu' 
                         'contenido lateral'
                         'footer footer';
   grid-template-rows:15% 10% auto 10% ;
   background-color:lightgreen; 
   border: 1px solid black;
}


.Caja {
    
    border: 2px solid black;
    background-color:lightgray ;
    text-align: center;
    padding: 20px;
   
}


.C1{
   
    grid-area: cabecera;
     background-color: aqua;
}
.C2{

   grid-area:  menu ;
   background-color: blue;
}

.C3{

   grid-area: contenido;
   background-color: blueviolet;

}



.C4{

 grid-area: lateral;
 background-color:whitesmoke;

}



.C5{

    grid-area: footer ;
    background-color: white ;
   
}
